body {
    background-image: url('../images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }

header{
    width: 100vh;
    height: 100px;

}

header .logo{
    width: 200px;
    margin: 15px 70px;
}

.info{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}


.info img{
    width: 600px;
    height: auto;
}

.info .informacoes{
    margin-left: 70px;
    margin-top: 45px;
}

.info .informacoes h1{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size:40px;
    margin-bottom: 20px;
    color: aliceblue;
    
}

.info .informacoes p{
    font-family: "Poppins", serif;
    font-size: 15px;
    font-weight: 400;
    color: aliceblue;
}




.info .botao a{
    font-family: "poppins";
    font-weight: 300;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    color:  hsl(257, 40%, 49%);
    background-color: aliceblue;
    border-radius: 50px;
    margin-top: 25px;
    transition: ease 0.2s;
}

.informacoes .botao a:hover{
    background-color: hsl(300, 69%, 71%);
    color: aliceblue;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 50px;
    margin: 10px 150px 50px 30px;
}

.redes i{
    width: 100%;
    color: aliceblue;
    margin-bottom: 20px;
}
